name: Next Bulletproof Template CI
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
jobs:
  build-lint-test-lhci:
    name: Build & Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn

      - name: Lint codebase
        run: yarn lint

      - name: Test codebase
        run: yarn test

      - name: Build Project
        run: yarn build
      
      - name: Lighthouse CI
        run: |
          yarn global add @lhci/cli
          lhci collect
          lhci upload
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}

          
      # - uses: sonarsource/sonarqube-scan-action@master
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #     SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      # commenting for now to make CI green , will try this
      # - uses: sonarsource/sonarqube-quality-gate-action@master
      #   timeout-minutes: 5
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}