name: Next Bulletproof Template CI
on:
  pull_request:
    branches: [main]
jobs:
  build-lint-test-lhci:
    name: Build & Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          # cache: "yarn"

      - name: Install dependencies
        run: yarn

      - name: Lint codebase
        run: yarn lint

      - name: Test codebase
        run: yarn test

      - name: Build Project
        run: yarn build

      - name: run Lighthouse CI
        run: |
          yarn global add @lhci/cli@0.8.x
          lhci autorun

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
